@charset "utf-8";

/* global */
body {
    height: 100%;   
    position: relative;
    font: 18px/1.5 'Helvetica Neue',Helvetica,Arial,sans-serif;
    background: #f2f2f2;
    overflow: hidden; 
}
a {
    text-decoration: none;
    color: #000;
}
h1 {
    width: 150px;
    margin: 0 auto;
    font-size: 32px;
    font-weight: bold;
}
h2 {
    font-family: "allerbold";
    font-weight: bold;
    color: #f00;
    text-transform: uppercase;
    font-size: 14px;
}
h3{
    margin: 20px auto;
    text-align: center;
}
.title {
    text-align: center;
    margin-top: 100px;
    width: 100%;
    height: 60px;
}
.title_en {
    width: 0;
    margin: 3px auto;
    padding: 5px 0;
    border-top: 2px solid #f00;
}
.title_en h2 {
    display: none;
}
@media screen and (max-width:1366px){
body {
    font-size: 13px;
}
h1 {
    font-size: 24px;
}
h2 {
    font-size: 12px;
}
.title {
    margin-top: 60px;
}
}
/* header */
/*header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    opacity: 0; 
}*/
#header {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	height: 76px;
	z-index: 1;
	background: #999;
	box-shadow: 0 0 10px #ccc;
	-webkit-transition: all 5s ease;
	transition: all 5s ease;
	opacity:0.3;
}
header {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 100;
	opacity: 1;	
}
#logo {
	float: left;
	margin: 5px 30px;
}
header img {
	width: 60px;
	height: 60px;
	border-radius: 30px;
	-webkit-transition: box-shadow 0.5s;
	transition: box-shadow 0.5s;
	margin-top: 5px;
}
header img:hover {
	box-shadow: 0 0 15px #1FAEFF;
}
#header_img,
#header_des {
	float: left;
}
#header_des {
	margin-left: 15px;
	text-align: center;
	color: #000;
}
#header_des_top {
	margin: 0px 15px 5px;
	padding: 5px 15px;
	/*width: 50px*/
	border-bottom: 1px solid #333;
}
#header_des_bottom {
	padding: 0 15px;
}
@media screen and (max-width:1366px){
#header {
	height: 70px;
}
#logo {
	margin: 0 30px;
}
nav {
	margin-top: 18px;
}
}
nav {
	margin-top: 30px;
	margin-right: 60px;
	float: right;
}
nav li {
	float: left;
	margin: 0 20px;
	list-style: none;
}
nav li a {
	padding: 25px 0;
	position: relative;	
	color: #666;
	text-decoration: none !important;
}
nav li a:after {
	content: "";
	position: absolute;
	left: 50%;
	right: 50%;
	bottom: 0;
	height: 2px;
	background: #1FAEFF;
	opacity: 0;
	-webkit-transition: .2s ease-in;
	transition: .2s ease-in;
}
nav li a:hover {
	color: #000;
}
nav li a:hover:after {
	left: 0;
	right: 0;
	opacity: 1;
}
#home,
#about,
#skill,
#exp,
#demo,
#contact {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    /*background: url(../image/bg.jpg) no-repeat center top;*/
    background-size: 100% 100%;
}
#home_content{
    margin: 0 auto;
    width: 1000px;
    height: auto;
    padding-top: 27.0556px;
}
#about_content,
#skill_content,
#exp_content,
#demo_content,
#contact_content {
    margin: 0 auto;
    width: 1000px;
    height: auto;
}
/* home */
#home{
    display: block;
}
@-webkit-keyframes zoom {
    0%{
        background-size: 130% 130%; 
    }
    100%{
        background-size: 100% 100%;
    }
}
@keyframes zoom {
    0%{
        background-size: 130% 130%; 
    }
    100%{
        background-size: 100% 100%;
    }
}
.home_zoom {
    -webkit-animation: zoom 2s ease-in-out;
    animation: zoom 2s ease-in-out;
}
#home_head {
    margin: 300px auto 30px;
    width: 200px;
    -webkit-transition: margin-top 2s ease-in-out;
    transition: margin-top 2s ease-in-out;
}
#home_head_content {
    margin: 0 auto;
    position: relative;
    width: 153.2px;
    height: 153.2px;
    cursor: pointer;
}
#home_head img {
    width: 150px;
    height: 150px;
    border: 2px #CCCCCC solid;
    border-radius: 75px;
    position: absolute;
    -webkit-transition: box-shadow 2s;
    transition: box-shadow 2s;
}
#home_head img:hover {
    box-shadow: 0px 0px 10px #sccc;
}
img#home_photo2 {
    opacity: 0;
    z-index: 99;
}
#home_info_box {
    border-top: 2px solid #ccc;
    width: 0;
    margin: 15px auto;
}
#home_info1,
#home_info2,
#home_info3,
#home_info4,
#home_info5 {
    margin: 15px auto;
    display: none;
    width: 800px;
    text-align: center;
}
#home_info1 {
    font-size: 20px;
    font-weight: bold;
}
@media screen and (max-width:1366px){
#home_info1 {
    font-size: 16px;
}   
}
/* about */
#about_content {
    height: 510px;
}
#home_content,
#about_content,
#skill_content,
#exp_content,
#demo_content,
#contact_content {
    margin: 0 auto;
    width: 1000px;
    height: auto;
}
@media screen and (max-width:1366px){
#about_list_content{
    margin: 40px auto;
    width: 700px;
}
#about_list1 {
    margin-left: 76px;
}
.about_list {
    margin-left: 76px;
}
#about_list_content {
    padding: 15px 0;
}
}
/* skill */
#skill_info {
    margin: 50px auto 0;
    width: 100%;
    line-height: 30px;
}
#skill_info p {
    text-align: center;
}
#skill_list {
    margin: 20px auto;
    width: 100%;
    font-size: 16px;
    height: 400px;
}
#skill_list ul {
    list-style: disc;
    list-style-position: inside;
}
.skill_list_content {
    float: left;
    margin: 0 8%;
    position: relative;
    height: 400px;
    visibility: hidden;
}
.about_list_eg {
    width: 80px;
    height: 80px;
    box-shadow: 0 0 0 4px rgba(255,255,255,1);
    border-radius: 50%;
    overflow: hidden;
    color: #fff;
    -webkit-transition: background 1s, color 1s, box-shadow 1s;
    transition: background 1s, color 1s, box-shadow 1s;
}
.about_list_eg:before {
    display: block;
    line-height: 130px;
    text-align: center;
}
.about_list_cn {
    padding-top: 20px;
    line-height: 20px;
    position: relative;
    color: #fff;
}
.about_list_cn p {
    padding-top: 10px;
    text-align: right;
    font-size: 14px;
}
.about_list_cn p:before {
    display: block;
    content: "";
    position: absolute;
    background: #ccc;
    height: 2px;
    width: 90px;
    bottom: 25px;
    -webkit-transform: rotate(-30deg);
    transform: rotate(-30deg);
}
#about_info {
    clear: both;
    margin: 50% auto;
    height: 160px;
    width: 0;
    position: relative;
    overflow: hidden;
}
#about_info:before,
#about_info:after {
    position: absolute;
    width: 50px;
    height: 50px;
    content: "";
}
#about_info:before {
    top: 0;
    left: 0;
    border-top: 2px solid #5686D6;
    border-left: 2px solid #5686D6;
}
#about_info:after {
    bottom: 0;
    right: 0;
    border-right: 2px solid #5686D6;
    border-bottom: 2px solid #5686D6;
}
#about_info p {
    text-align: center;
    line-height: 40px;
    position: relative;
    bottom: -300px;
}
@-webkit-keyframes l_to_r {
    49% {
        -webkit-transform: translate(100%);
        transform: translate(100%);
    }
    50% {
        -webkit-transform: translate(-100%);
        transform: translate(-100%);
        opacity: 0;
    }
}
@-moz-keyframes l_to_r {
    49% {
        transform: translate(100%);
    }
    50% {
        transform: translate(-100%);
        opacity: 0;
    }
}
@-o-keyframes l_to_r {
    49% {
        transform: translate(100%);
    }
    50% {
        transform: translate(-100%);
        opacity: 0;
    }
}
@keyframes l_to_r {
    49% {
        transform: translate(100%);
    }
    50% {
        transform: translate(-100%);
        opacity: 0;
    }
}
@media screen and (max-width:1366px){
#about_list_content{
    margin: 40px auto;
    width: 700px;
}
#about_list1 {
    margin-left: 76px;
}
.about_list {
    margin-left: 76px;
}
#about_list_content {
    padding: 15px 0;
}
}
#about_content {
    height: 510px;
}
#about_list_content {
    margin: 50px auto;
    width: 800px;
    height: 178px;
    padding: 20px 0;
    border-radius: 30px;
    background: rgba(225,225,228,0.2);
}
.about_list {
    float: left;
    margin-left: 120px;
    cursor: pointer;
}
#about_list1 {
    margin-left: 60px;
}
.about_list:hover .about_list_eg {
    background: rgba(255,255,255,1);
    color: #702fa8;
    box-shadow: 0 0 0 8px rgba(255,255,255,0.3);
}
.about_list:hover .about_list_eg:before{
    -webkit-animation: l_to_r 1s forwards;
    -moz-animation: l_to_r 1s forwards;
    -o-animation: l_to_r 1s forwards;
    animation: l_to_r 1s forwards;
}
.about_list_eg {
    width: 80px;
    height: 80px;
    box-shadow: 0 0 0 4px rgba(255,255,255,1);
    border-radius: 50%;
    overflow: hidden;
    color: #fff;
    -webkit-transition: background 1s, color 1s, box-shadow 1s;
    transition: background 1s, color 1s, box-shadow 1s;
}
.about_list_eg:before {
    display: block;
    line-height: 130px;
    text-align: center;
}
.about_list_cn {
    padding-top: 20px;
    line-height: 20px;
    position: relative;
    color: #fff;
}
.about_list_cn p {
    padding-top: 10px;
    text-align: right;
    font-size: 14px;
}
.about_list_cn p:before {
    display: block;
    content: "";
    position: absolute;
    background: #ccc;
    height: 2px;
    width: 90px;
    bottom: 25px;
    -webkit-transform: rotate(-30deg);
    transform: rotate(-30deg);
}
#about_info {
    clear: both;
    margin: 50% auto;
    height: 160px;
    width: 0;
    position: relative;
    overflow: hidden;
}
#about_info:before,
#about_info:after {
    position: absolute;
    width: 50px;
    height: 50px;
    content: "";
}
#about_info:before {
    top: 0;
    left: 0;
    border-top: 2px solid #fff;
    border-left: 2px solid #fff;
}
#about_info:after {
    bottom: 0;
    right: 0;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
}
#about_info p {
    text-align: center;
    line-height: 40px;
    position: relative;
    bottom: -300px;
}
#skill_list {
    margin: 20px auto;
    width: 100%;
    font-size: 16px;
    height: 400px;
}
#skill_icon2{
    background: url(../images/html.png) no-repeat ;
}
#skill_icon3{
    background: url(../images/css.png) no-repeat ;
}
#skill_icon4{
    background: url(../images/js.png) no-repeat ;
}
.skill_icon {
    cursor: pointer;
    background-size: 100%;
    width: 90px;
    height: 100px;
    text-align: center;
    margin: 30px auto;
    webkit-transform: scale(1.0);
    transform: scale(1.0);
    transition : transform .25s;
}
.skill_icon:hover{
    webkit-transform: scale(1.2);
    transform: scale(1.2);
    transition : transform .25s;
}
/*.skill_name {
    text-align: center;
    width: 100%;
    position: relative;
}*/
.skill_flag {
    margin: 20px auto;
    width: 20px;
    height: 20px;
    background: url(../images/skill_flag.png);
    -webkit-transition-duration: 1s;
    transition-duration: 1s;
}
.skill_flag_scale {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}
.skill_int {
    position: absolute;
    top: 250px;
    width: 320px;
    font-size: 14px;
    line-height: 20px;
    display: none;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 15px;
    background: rgba(225,225,228,0.2);
}
.skill_int li {
    font-size: 12px;
    padding-left: 15px;
}
@-webkit-keyframes skill_scale {
    0% {
        opacity: 0.1;
        -webkit-transform:scale(0.3);
        transform:scale(0.3);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);    
    }
}
@-moz-keyframes skill_scale {
    0% {
        opacity: 0.1;
        transform:scale(0.3);
    }
    100% {
        opacity: 1;
        transform: scale(1);    
    }
}
@-o-keyframes skill_scale {
    0% {
        opacity: 0.1;
        transform:scale(0.3);
    }
    100% {
        opacity: 1;
        transform: scale(1);    
    }
}
@keyframes skill_scale {
    0% {
        opacity: 0.1;
        transform:scale(0.3);
    }
    100% {
        opacity: 1;
        transform: scale(1);    
    }
}
.skill_scale {
    -webkit-animation: skill_scale 1s;
    -moz-animation: lskill_scale 1s;
    -o-animation: skill_scale 1s;
    animation: skill_scale 1s;
    visibility: visible;
}
#cd-timeline {
  position: relative;
  padding: 2em 0;
  margin-top: 2em;
  margin-bottom: 2em;
}
#cd-timeline::before {/* this is the vertical line */
  content: '';
  position: absolute;
  top: 0;
  left: 18px;
  height: 100%;
  width: 4px;
  background: #d7e4ed;
}
@media only screen and (min-width: 1170px) {
  #cd-timeline {
    margin-top: 3em;
    margin-bottom: 3em;
  }
  #cd-timeline::before {
    left: 50%;
    margin-left: -2px;
  }
}
.cd-timeline-block {
  position: relative;
  margin: 2em 0;
}
.cd-timeline-block:after {
  content: "";
  display: table;
  clear: both;
}
.cd-timeline-block:first-child {
  margin-top: 0;
}
.cd-timeline-block:last-child {
  margin-bottom: 0;
}
@media only screen and (min-width: 1170px) {
  .cd-timeline-block {
    margin: 4em 0;
  }
  .cd-timeline-block:first-child {
    margin-top: 0;
  }
  .cd-timeline-block:last-child {
    margin-bottom: 0;
  }
}

.cd-timeline-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0 0 0 4px white, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
}
.cd-timeline-img img {
  display: block;
  width: 24px;
  height: 24px;
  position: relative;
  left: 50%;
  top: 50%;
  margin-left: -12px;
  margin-top: -12px;
}
.cd-timeline-img.cd-picture {
  background: #75ce66;
}
.cd-timeline-img.cd-movie {
  background: #c03b44;
}
.cd-timeline-img.cd-location {
  background: #f0ca45;
}
@media only screen and (min-width: 1170px) {
  .cd-timeline-img {
    width: 60px;
    height: 60px;
    left: 50%;
    margin-left: -30px;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
  }
  .cssanimations .cd-timeline-img.is-hidden {
    visibility: hidden;
  }
  .cssanimations .cd-timeline-img.bounce-in {
    visibility: visible;
    -webkit-animation: cd-bounce-1 0.6s;
    -moz-animation: cd-bounce-1 0.6s;
    animation: cd-bounce-1 0.6s;
  }
}

.cd-timeline-content {
  position: relative;
  margin-left: 60px;
  background: white;
  border-radius: 0.25em;
  padding: 1em;
  box-shadow: 0 3px 0 #d7e4ed;
}
.cd-timeline-content:after {
  content: "";
  display: table;
  clear: both;
}
.cd-timeline-content h2 {
  color: #303e49;
}
.cd-timeline-content p, .cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
  font-size: 13px;
  font-size: 0.8125rem;
}
.cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
  display: inline-block;
}
.cd-timeline-content p {
  margin: 1em 0;
  line-height: 1.6;
}
.cd-timeline-content .cd-read-more {
  float: right;
  padding: .8em 1em;
  background: #acb7c0;
  color: white;
  border-radius: 0.25em;
}
.no-touch .cd-timeline-content .cd-read-more:hover {
  background-color: #bac4cb;  
}
a.cd-read-more:hover{text-decoration:none; background-color: #424242;  }
.cd-timeline-content .cd-date {
  float: left;
  padding: .8em 0;
  opacity: .7;
}
.cd-timeline-content::before {
  content: '';
  position: absolute;
  top: 16px;
  right: 100%;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-right: 7px solid white;
}
@media only screen and (min-width: 768px) {
  .cd-timeline-content h2 {
    font-size: 20px;
    font-size: 1.25rem;
  }
  .cd-timeline-content p {
    font-size: 16px;
    font-size: 1rem;
  }
  .cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
    font-size: 14px;
    font-size: 0.875rem;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-timeline-content {
    margin-left: 0;
    padding: 1.6em;
    width: 45%;
  }
  .cd-timeline-content::before {
    top: 24px;
    left: 100%;
    border-color: transparent;
    border-left-color: white;
  }
  .cd-timeline-content .cd-read-more {
    float: left;
  }
  .cd-timeline-content .cd-date {
    position: absolute;
    width: 100%;
    left: 122%;
    top: 6px;
    font-size: 16px;
    font-size: 1rem;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content {
    float: right;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content::before {
    top: 24px;
    left: auto;
    right: 100%;
    border-color: transparent;
    border-right-color: white;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-read-more {
    float: right;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-date {
    left: auto;
    right: 122%;
    text-align: right;
  }
  .cssanimations .cd-timeline-content.is-hidden {
    visibility: hidden;
  }
  .cssanimations .cd-timeline-content.bounce-in {
    visibility: visible;
    -webkit-animation: cd-bounce-2 0.6s;
    -moz-animation: cd-bounce-2 0.6s;
    animation: cd-bounce-2 0.6s;
  }
}

@media only screen and (min-width: 1170px) {
  /* inverse bounce effect on even content blocks */
  .cssanimations .cd-timeline-block:nth-child(even) .cd-timeline-content.bounce-in {
    -webkit-animation: cd-bounce-2-inverse 0.6s;
    -moz-animation: cd-bounce-2-inverse 0.6s;
    animation: cd-bounce-2-inverse 0.6s;
  }
}
.demo_container {
    margin-top: 28px;
    text-align: center;
    width: 754px;
    margin-left: auto;
    margin-right: auto;
}
.demo_container:before,.demo_container:after {
    content: "";
    display: table
}
@media screen and (min-width: 1276px) and (max-width: 1528px) {
  .demo_box {
        float: left;
        width: 308px;
        height: 308px;
        margin-right: 4px;
        box-sizing: border-box;
    }
}
.demo_box {
    position: relative;
    float: left;
    width: 245px;
    height: 245px;
    margin-right: 4px;
    background: -webkit-linear-gradient(to bottom right,#D5DBD8 , #FFFEFE);
    background: -o-linear-gradient(to bottom right,#D5DBD8 , #FFFEFE);
    background: -moz-linear-gradient(to bottom right,#D5DBD8 , #FFFEFE);
    background: linear-gradient(to bottom right,#D5DBD8 , #FFFEFE)
}
.demo_detail{
  position: absolute;;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
  left: 25%;
  top: 25%;
}
.demo_detail>img{
  width:120px;
  height:120px;
}
.demo1 {
    width: 240px;
    border: 1px solid #000;
    height: 100px;
    float: left;
    position: relative;
}
.demo_tip1 {
    height: 50%;
    text-align: left;
    background: #fafafa;
    color: #999;
    padding: 29px 10px;
}
.info-tra-left {
    top: 21%;
    left: -14px;
    background-position: 0 0;
    z-index: 1;
    position: absolute;
    width: 14px;
    height: 28px;
    background: url(../images/info_tra.svg) no-repeat
}
.demo2 {
    width: 240px;
    border: 1px solid #000;
    height: 100px;
    float: right;
    position: relative;
}
.demo_tip2 {
    height: 50%;
    text-align: right;
    border-top: 1px solid #fafafa;
    color: #999;
    padding: 29px 10px;
}
.demo_tip1:before {
    position: absolute;
    content: '';
    width:0;
    height: 0;
    border:6px solid transparent;
    border-right-color: #E0E2E2;
    left: -12px;
    top: 53px;
}
.demo_tip2:after {
    position: absolute;
    content: '';
    width:0;
    height: 0;
    border:6px solid transparent;
    border-left-color: #E0E2E2;
    right: -11px;
    top: 176px;
}
.demo_tip1>.demo_title {
    color: #444;
    font-weight: bold;
    font-size: 18px;
    padding-bottom: 10px;
}
.demo_tip2>.demo_title {
    color: #444;
    font-weight: bold;
    font-size: 18px;
    padding-bottom: 10px;
}
/**
 * fullPage 2.4.6
 * https://github.com/alvarotrigo/fullPage.js
 * MIT licensed
 *
 * Copyright (C) 2013 alvarotrigo.com - A project by Alvaro Trigo
 */
html, body {
    margin: 0;
    padding: 0;
    overflow:hidden;

    /*Avoid flicker on slides transitions for mobile phones #336 */
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
#superContainer {
    height: 100%;
    position: relative;

    /* Touch detection for Windows 8 */
    -ms-touch-action: none;

    /* IE 11 on Windows Phone 8.1*/
    touch-action: none;
}
.fp-section {
    position: relative;
    -webkit-box-sizing: border-box; /* Safari<=5 Android<=3 */
    -moz-box-sizing: border-box; /* <=28 */
    box-sizing: border-box;
}
.fp-slide {
    float: left;
}
.fp-slide, .fp-slidesContainer {
    height: 100%;
    display: block;
}
.fp-slides {
    z-index:1;
    height: 100%;
    overflow: hidden;
    position: relative;
    -webkit-transition: all 0.3s ease-out; /* Safari<=6 Android<=4.3 */
    transition: all 0.3s ease-out;
}
.fp-section.fp-table, .fp-slide.fp-table {
    display: table;
    table-layout:fixed;
    width: 100%;
}
.fp-tableCell {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 100%;
}
.fp-slidesContainer {
    float: left;
    position: relative;
}
.fp-controlArrow {
    position: absolute;
    z-index: 4;
    top: 50%;
    cursor: pointer;
    width: 0;
    height: 0;
    border-style: solid;
    margin-top: -38px;
}
.fp-controlArrow.fp-prev {
    left: 15px;
    width: 0;
    border-width: 38.5px 34px 38.5px 0;
    border-color: transparent #fff transparent transparent;
}
.fp-controlArrow.fp-next {
    right: 15px;
    border-width: 38.5px 0 38.5px 34px;
    border-color: transparent transparent transparent #fff;
}
.fp-scrollable {
    overflow: scroll;

}
.fp-notransition {
    -webkit-transition: none !important;
    transition: none !important;
}
#fp-nav {
    position: fixed;
    z-index: 100;
    margin-top: -32px;
    top: 50%;
    opacity: 1;
}
#fp-nav.right {
    right: 17px;
}
#fp-nav.left {
    left: 17px;
}
.fp-slidesNav{
    position: absolute;
    z-index: 4;
    left: 50%;
    opacity: 1;
}
.fp-slidesNav.bottom {
    bottom: 17px;
}
.fp-slidesNav.top {
    top: 17px;
}
#fp-nav ul,
.fp-slidesNav ul {
  margin: 0;
  padding: 0;
}
#fp-nav ul li,
.fp-slidesNav ul li {
    display: block;
    width: 14px;
    height: 13px;
    margin: 7px;
    position:relative;
}
.fp-slidesNav ul li {
    display: inline-block;
}
#fp-nav ul li a,
.fp-slidesNav ul li a {
    display: block;
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    cursor: pointer;
    text-decoration: none;
}
#fp-nav ul li a.active span,
.fp-slidesNav ul li a.active span {
    background: #333;
}
#fp-nav ul li a span,
.fp-slidesNav ul li a span {
    top: 2px;
    left: 2px;
    width: 8px;
    height: 8px;
    border: 1px solid #000;
    background: rgba(0, 0, 0, 0);
    border-radius: 50%;
    position: absolute;
    z-index: 1;
}
#fp-nav ul li .fp-tooltip {
    position: absolute;
    top: -2px;
    color: #fff;
    font-size: 14px;
    font-family: arial, helvetica, sans-serif;
    white-space: nowrap;
    max-width: 220px;
    overflow: hidden;
    display: block;
    opacity: 0;
    width: 0;
}
#fp-nav ul li:hover .fp-tooltip {
    -webkit-transition: opacity 0.2s ease-in;
    transition: opacity 0.2s ease-in;
    width: auto;
    opacity: 1;
}
#fp-nav ul li .fp-tooltip.right {
    right: 20px;
}
#fp-nav ul li .fp-tooltip.left {
    left: 20px;
}
